@import "../../styles/global-imports";

.round-link {
  &--item {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 75px;
    width: 75px;
    background-color: $c-blue;

    border-radius: 100%;
  }

  &--arrow {
    width: 44px;
    height: 44px;
  }
}