@import "../../../styles/global-imports";

.our-achievement {
  margin-top: 100px;
  padding-bottom: 70px;
  border-bottom: 1px solid $c-blue;

  &--title {
    text-transform: unset;
    text-align: center;
    margin-bottom: 40px;
  }

  &-container {
    @include onDesktop {
      margin: 100px auto 0;
      max-width: 1248px;
    }
  }

  &__list {
    display: flex;
    flex-direction: row;
    align-items: center;
    
    @include onMobileAndTablet {
      overflow-x: scroll;
      background: $c-black;
      max-width: 100vw;
    }
  }
  
  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  
    min-height: 551px;
    min-width: 310px;

    background-color: $c-black;
    color: $c-white;
    border: 1px solid $c-white;

    &--text {
      font-size: 14px;
      line-height: 18px; 
    }

    @include onTablet {
      margin: 90px 0;

      &:first-child {
        margin-left: 60px;
      }

      &:last-child {
        margin-right: 60px;
      }
    }

    @include onMobile {
      min-width: 90vw;
    }
  }
}