@font-face {
  font-family: "Roboto Bold";
  src: url("../fonts/Roboto-Bold.ttf") format("opentype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Roboto Bold";
  src: url("../fonts/Roboto-Regular.ttf") format("opentype");
  font-weight: 400;
  font-style: normal;
}
