@import "../../styles/global-imports";

.lines {
  position: absolute;
  top: 236px;
  left: -68px;

  height: 150%;
  width: 110%;
  background: url("../../images/icons/lines.svg") no-repeat;

  z-index: -1;
  
  @include onTablet {
    top: 660px;
    left: -68px;
  
    height: 76%;
    width: 120%;

    background-size: contain;
  }
  
  @include onMobile {
    top: 356px;
    left: -28px;
  
    height: 100%;
    width: 114%;

    background-size: contain;
  }
}