@import "../../styles/global-imports";

.footer {
  background-color: $c-black;
  color: $c-white;
  margin-top: 480px;

  padding: 30px 0;

  &--title {
    line-height: 86.4px;
  }

  &--text {
    width: 1150px;
    margin-bottom: 36px;
  }

  &__bottom {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  &__links {
    display: flex;
    gap: 123px;
    margin-right: 280px;

    &--link-title {
      text-transform: uppercase;
      margin-bottom: 22px;
    }
  }
}